<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>
  <appSettings file="Mail.config">
  </appSettings>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" urlLinePragmas="true"/>
    <pages theme="Theme1"/>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="_xu" loginUrl="Login.aspx" protection="None">
        <!--loginUrl - Specifies the URL to which the request is redirected for logon, if no valid authentication cookie is found.
        The default is login.aspx.-->
      </forms>
    </authentication>
    <anonymousIdentification enabled="true" cookieless="UseCookies" cookieName="_xa" cookieSlidingExpiration="true"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DatabaseConnection"
             enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true"
             passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" connectionStringName="DatabaseConnection" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <add name="ShoppingCart" type="ShoppingCart" serializeAs="Binary" allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="CtgrBrowser.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>